.class-container3 {
  box-sizing: content-box;
  padding-top: 150px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-form-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.class-form3 {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-end;
  margin: 1px 100px 0 110px;

  &__field {
    display: flex;
    width: 200px;
    flex-direction: column;
  }

  &__header {
    text-align: left;
    width: "160px";
    margin: 3px 20px 1px 20px;
  }

  &__input {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px;
    margin: 0 20px 8px 20px;

    &:focus {
      outline: none;
      background-color: #e4e4e4;
    }
  }

  &__btn {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 200px;
  }
}

.students-form3 {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-start;
  justify-content: flex-start;

  &__header {
    text-align: left;
    width: inherit;
  }

  &__input {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px;
    margin: 5px 0;

    &:focus {
      outline: none;
      background-color: #e4e4e4;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__btns {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 50px;
  }
}
