.attendance-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 150px;
}

.attendance-header {
  text-align: left;
  margin-left: 20px;
}

.attendance-input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  padding-left: 2px;
  border: 1px solid #333333;
  margin: 0px 70px 10px 15px;

  &:focus {
    outline: none;
    background-color: #e4e4e4;
  }
}

.camera-btn {
  background-color: #333333;
  border: 1px solid #333333;
  color: #ffffff;
  border-radius: 5px;
  margin: -1px 50px 3px 43px;
  z-index: 100;
  padding: 5px;
  width: 200px;
}
