.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.login-landing-msg {
  color: #707070;
  padding-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;

  &__header {
    text-align: left;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
      background-color: #e4e4e4;
    }
  }

  &__btn {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
  }
}
